﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Base</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="carros">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Carros
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nuevoscarros">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Nuevos carros
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ciudades">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ciudades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nuevaciudad">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Nuevas ciudades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="condiciones">
                <span class="oi oi-list-rich" aria-hidden="true"></span> condiciones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nuevacondicion">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Nuevas condiciones
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}