@page "/carros"
@inject HttpClient _http;
@inject NavigationManager _navegarcarro;

<h3>Carros</h3>

@if (cargando)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
}
else
{
    @if (loscarros.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre del carro</th>
                    <th>Marca del carro</th>
                    <th>Fecha de creacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Carro carros in loscarros)
                {
                    <tr>
                        <td>@carros.Nombredelcarro</td>
                        <td>@carros.Marcadelcarro</td>
                        <td>@carros.Año</td>
                        <td>
                            <button class="btn btn-sm" @onclick="()=>Eliminar(carros.Id)"><span class="oi oi-trash"></span></button>
                            <button class="btn btn-sm" @onclick="()=>Modificar(carros.Id)"><span class="oi oi-pencil"></span></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>No existen carros registrados</h2>
    }
}


@code {
    private List<Carro> loscarros = new();
    private bool cargando = true;

    protected override async Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar()
    {
        loscarros = await _http.GetFromJsonAsync<List<Carro>>("api/carros");
        cargando = false;
    }

    private async Task Eliminar(int id)
    {
        cargando = true;
        await _http.DeleteAsync($"api/nuevoscarros/{id}");
        await Cargar();
    }

    private void Modificar(int id)
    {
        _navegarcarro.NavigateTo($"/editar/nuevoscarros/{id}");
    }
}